@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap');
@import './color.scss';
@import './mixin.scss';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: gray;
  margin-top: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $text-primary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #000;
  border-radius: 10px;
}

.background {
  @include cardLayout;
  width: fit-content;
  min-height: 100vh;
  padding-right: 20rem;
  header {
    position: fixed;
    min-width: 100vw;
    background-color: $primary;
    z-index: 9999;
    .logo {
      font-family: 'Archivo Narrow', sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: left;
      margin: 0;
      padding: 0 0.5em;
      color: $text-primary;
    }
    .categories {
      display: flex;
      gap: 3rem;
      margin-left: 5.5rem;
      font-weight: 500;
      a {
        color: $text-secondary;
        text-decoration: none;
        margin: 0 0 1rem;
        text-transform: capitalize;
        cursor: pointer;
        &:hover {
          color: $hover-color-secondary;
        }
        &:active {
          color: $text-primary;
        }
      }
      .active {
        color: $text-primary;
      }
    }
  }

  .single_recipe {
    display: flex;
    position: relative;
    max-width: 100vw;
    padding-top: 6rem;
    justify-content: center;
    align-items: center;
    @include mainCard;
  }

  .grid {
    padding-top: 10rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    justify-content: center;
    margin: 0 3rem;

    .empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .grid_item {
      .relative {
        position: relative;
        .more_recipes_card {
          width: 15rem;
          height: 12rem;
          display: flex;
          border-radius: 10px;
          .more_recipes_card_background {
            @include cardLayout;
            margin: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            p {
              font-weight: 500;
              font-size: 15px;
              text-align: center;
              padding-left: 1rem;
              padding-right: 1rem;
            }
            a {
              background-color: $primary;
              color: $button-color;
              border: 1px solid $button-color;
              border-radius: 4px;
              padding: 0.5rem 1rem;
              font-size: 12px;
              font-weight: 500;
              text-align: center;
              text-decoration: none;
              cursor: pointer;
              &:hover {
                color: $hover-color-primary;
                border-color: $hover-color-primary;
              }
            }
          }
        }
        img {
          position: absolute;
          border-radius: 50%;
          bottom: 9rem;
          left: 4.5rem;
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .recipes {
    display: flex;
    flex-wrap: nowrap;
    gap: 10rem;
    padding-top: 6rem;
    max-width: 100vw;
    overflow-x: scroll;
    padding-bottom: 2rem;
    position: relative;
    @include mainCard;
  }
  .more_recipes {
    margin-left: 5.5rem;
    padding-bottom: 2rem;
    h3 {
      font-family: 'Archivo Narrow', 'sans-serif';
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 4rem;
    }
    .more_recipes_card_container {
      display: flex;
      gap: 4rem;
      @include moreRecipeCard;
    }
  }
}
